<div class="jumbotron">

  <h1 class="display-3">
    ¡Bienvenido a <small>Veggie point</small>!
    <span class="fa fa-music" aria-hidden="true"></span>
  </h1>

  <p class="lead">
    Encuentra tus lugares favoritos y descubre otros.
  </p>

  <hr class="my-4">

  <p>

  </p>

  <p class="lead">
    <a class="btn btn-outline-success btn-lg" [routerLink] = "['/categorias', 1]" role="button">
     Encuentra más <span class="fa fa-location-arrow" aria-hidden="true"></span>
    </a>
  </p>
</div>
